<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zsy.alertsystem.dao.ExMessageMapper">
  <resultMap id="BaseResultMap" type="org.zsy.alertsystem.pojo.ExMessage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="system_id" jdbcType="BIGINT" property="systemId" />
    <result column="token" jdbcType="CHAR" property="token" />
    <result column="ex_description" jdbcType="VARCHAR" property="exDescription" />
    <result column="ex_occurtime" jdbcType="TIMESTAMP" property="exOccurtime" />
    <result column="ex_createtime" jdbcType="TIMESTAMP" property="exCreatetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, system_id, token, ex_description, ex_occurtime, ex_createtime
  </sql>
  <select id="selectByExample" parameterType="org.zsy.alertsystem.pojo.ExMessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_exmessage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_exmessage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_exmessage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.zsy.alertsystem.pojo.ExMessageExample">
    delete from t_exmessage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zsy.alertsystem.pojo.ExMessage">
    insert into t_exmessage (system_id, token,
      ex_description, ex_occurtime, ex_createtime
      )
    values (#{systemId,jdbcType=BIGINT}, #{token,jdbcType=CHAR},
      #{exDescription,jdbcType=VARCHAR}, #{exOccurtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.zsy.alertsystem.pojo.ExMessage">
    insert into t_exmessage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="systemId != null">
        system_id,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="exDescription != null">
        ex_description,
      </if>
      <if test="exOccurtime != null">
        ex_occurtime,
      </if>
      <if test="exCreatetime != null">
        ex_createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="systemId != null">
        #{systemId,jdbcType=BIGINT},
      </if>
      <if test="token != null">
        #{token,jdbcType=CHAR},
      </if>
      <if test="exDescription != null">
        #{exDescription,jdbcType=VARCHAR},
      </if>
      <if test="exOccurtime != null">
        #{exOccurtime,jdbcType=TIMESTAMP},
      </if>
      <if test="exCreatetime != null">
        #{exCreatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zsy.alertsystem.pojo.ExMessageExample" resultType="java.lang.Long">
    select count(*) from t_exmessage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="org.zsy.alertsystem.pojo.ExMessage">
    update t_exmessage
    <set>
      <if test="systemId != null">
        system_id = #{systemId,jdbcType=BIGINT},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=CHAR},
      </if>
      <if test="exDescription != null">
        ex_description = #{exDescription,jdbcType=VARCHAR},
      </if>
      <if test="exOccurtime != null">
        ex_occurtime = #{exOccurtime,jdbcType=TIMESTAMP},
      </if>
      <if test="exCreatetime != null">
        ex_createtime = #{exCreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zsy.alertsystem.pojo.ExMessage">
    update t_exmessage
    set system_id = #{systemId,jdbcType=BIGINT},
      token = #{token,jdbcType=CHAR},
      ex_description = #{exDescription,jdbcType=VARCHAR},
      ex_occurtime = #{exOccurtime,jdbcType=TIMESTAMP},
      ex_createtime = #{exCreatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>