<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zsy.alertsystem.dao.RuleMapper">
  <resultMap id="BaseResultMap" type="org.zsy.alertsystem.pojo.Rule">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="frequency" jdbcType="INTEGER" property="frequency" />
    <result column="rank_id" jdbcType="BIGINT" property="rankId" />
    <result column="sender_id" jdbcType="INTEGER" property="senderId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, frequency, rank_id, sender_id
  </sql>
  <select id="selectByExample" parameterType="org.zsy.alertsystem.pojo.RuleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_rule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.zsy.alertsystem.pojo.RuleExample">
    delete from t_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zsy.alertsystem.pojo.Rule">
    insert into t_rule (id, frequency, rank_id, 
      sender_id)
    values (#{id,jdbcType=INTEGER}, #{frequency,jdbcType=INTEGER}, #{rankId,jdbcType=BIGINT}, 
      #{senderId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.zsy.alertsystem.pojo.Rule">
    insert into t_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
      <if test="rankId != null">
        rank_id,
      </if>
      <if test="senderId != null">
        sender_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=INTEGER},
      </if>
      <if test="rankId != null">
        #{rankId,jdbcType=BIGINT},
      </if>
      <if test="senderId != null">
        #{senderId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <insert id="insertUserRule" parameterType="Map">
    insert into t_rule_user (user_id, rule_id) values (#{userId},#{ruleId});
  </insert>

  <select id="selectRuleIdByUserId" parameterType="Integer" resultType="java.lang.Integer">
    select rule_id from t_rule_user where user_id=#{userId}
  </select>
  
  <select id="countByExample" parameterType="org.zsy.alertsystem.pojo.RuleExample" resultType="java.lang.Long">
    select count(*) from t_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_rule
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.frequency != null">
        frequency = #{record.frequency,jdbcType=INTEGER},
      </if>
      <if test="record.rankId != null">
        rank_id = #{record.rankId,jdbcType=BIGINT},
      </if>
      <if test="record.senderId != null">
        sender_id = #{record.senderId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_rule
    set id = #{record.id,jdbcType=INTEGER},
      frequency = #{record.frequency,jdbcType=INTEGER},
      rank_id = #{record.rankId,jdbcType=BIGINT},
      sender_id = #{record.senderId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.zsy.alertsystem.pojo.Rule">
    update t_rule
    <set>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
      <if test="rankId != null">
        rank_id = #{rankId,jdbcType=BIGINT},
      </if>
      <if test="senderId != null">
        sender_id = #{senderId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zsy.alertsystem.pojo.Rule">
    update t_rule
    set frequency = #{frequency,jdbcType=INTEGER},
      rank_id = #{rankId,jdbcType=BIGINT},
      sender_id = #{senderId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>